// Blog
   
.wrapperBlog {
  @include margins-widths(0 auto, 100%);		
  background-color: $gray; 
  
}

.posts {
  margin-top: 96px; 

  h3 {
	  line-height: 1.125;
	  margin-bottom: 0; 
	}
}

.posts:first-child {
  margin-top: 0; 
}

.ftImage {
  overflow: hidden; 
  width: 100%;
}

.wp-post-image {
  height: auto; 
  width: 100%;
}

.postBox {
  background-color: #fff;
  padding: 48px 10%; 
}

.postInfo {
  margin-bottom: 48px; 

	a {
	  	color: $cyan;
	  	text-decoration: none; 
		}

	small {
	  	display: block; 
		}
}

.postTitle {
  color:$color-buttons; 
  text-decoration: none;
}

.entry {
	 img {
  		margin-bottom: 24px; 
	}

	p {
  		margin-bottom: 15px; 
	}
}